<header class="mb-5">
    {{#with navigation}}
        <div class="card p-3">
            <nav class="nav">
                    {{#each links}}
                        <a class="nav-link" href="{{href}}">{{text}}</a>
                    {{/each}}
                <a class="disabled nav-link" href="#">Shophome</a>
            </nav>
        </div>
    {{/with}}
</header>