<header class="mb-5">
    {{#with navigation}}
        <div class="card p-3">
            <nav class="nav">
                <div class="row">
                    {{#each links}}
                    <a class="nav-link col" href="{{href}}">{{text}}</a>
                    {{/each}}
                    <a class="disabled nav-link col" href="#">Shophome</a>
                </div>
            </nav>
        </div>
    {{/with}}
</header>