<hr class="my-5">

<footer>

    <div class="row g-5">

        {{#each footer}}
            <div class="nav col-2">
                <div>
                    {{#each this}}
                        <div>
                            <a class="nav-link {{#if @last}} disabled {{/if}}" href="{{this.link}}">{{this.text}}</a>
                        </div>
                    {{/each}}
                </div>
            </div>

        {{/each}}

    </div>

</footer>