<header class="mb-5">
    {{#with navigation}}
    <div class="card d-flex justify-content-center p-3">
        <nav class="nav justify-content-between">
            <img width="100" height="40" src="{{logo.src}}" alt="logo">
            <ul class="m-0">
                <li class="d-flex">
                    {{#each links}}
                    <a class="nav-link" href="{{href}}">{{text}}</a>
                    {{/each}}
                    <a class="disabled nav-link" href="#">Shophome</a>
                </li>
            </ul>
        </nav>
    </div>
    {{/with}}
</header>